/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {

	--coolblue-color: #0090e3;
	--coolblue-grey: #f2f7fc;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	margin: auto;
}


/* Vanaf hier de navigatie */
nav ul {
	display: flex;
	margin: 0;
	padding: 0 0.8em;
	align-items: center;
	overflow: hidden;
	background-color: var(--coolblue-color);
	height: 2.75em;
}


li {
	list-style-type: none;
}

li:first-of-type {
	margin-right: auto;
}



button {
	background-color: transparent;
	border-color: transparent;
}

img {
	width: 100%;
}

/* Alle icoontjes in de nav */
nav>ul>li {
	width: 2.4em;
}

/* Coolblue logo */
nav>ul>li:nth-of-type(2) {
	width: 5.5em;
	margin-right: 1em;
}


nav>li {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--coolblue-grey);
	height: 3em;
}


input {
	width: 95%;
	height: 2.5em;
	outline: none;
	text-indent: 1em;
	border: 0.0625em solid #ddd;
	border-radius: 0.25em;
}